<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CLS_NatSu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CLS_NatSu.Properties.Settings.DatabaseDataEntryBPOConnectionString"
            connectionString="Data Source=192.168.165.10;Initial Catalog=DatabaseDataEntryBPO;Persist Security Info=True;User ID=NatSu_2018;Password=123@123a"
            providerName="System.Data.SqlClient" />
        <add name="CLS_NatSu.Properties.Settings.NatSu_2018ConnectionString"
            connectionString="Data Source=192.168.165.10;Initial Catalog=NatSu_2018;Persist Security Info=True;User ID=NatSu_2018;Password=123@123a"
            providerName="System.Data.SqlClient" />
        <add name="CLS_NatSu.Properties.Settings.NatSu_2018ConnectionString1"
            connectionString="Data Source=192.168.165.10;Initial Catalog=NatSu_2018;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <CLS_NatSu.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>DaNang</value>
            </setting>
            <setting name="ZoomImage" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="ApplicationSkinName" serializeAs="String">
                <value />
            </setting>
            <setting name="Check" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="Zoom_Ngang" serializeAs="String">
                <value>1728</value>
            </setting>
            <setting name="Zoom_Doc" serializeAs="String">
                <value>2256</value>
            </setting>
            <setting name="PositionSplitMain" serializeAs="String">
                <value>615</value>
            </setting>
            <setting name="FocusFolder_UpBatch" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderExcel" serializeAs="String">
                <value />
            </setting>
        </CLS_NatSu.Properties.Settings>
    </userSettings>
</configuration>