<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UpdateDataSimple.Properties.Settings.DatabaseDataEntryBPOConnectionString"
            connectionString="Data Source=192.168.165.10;Initial Catalog=DatabaseDataEntryBPO;Persist Security Info=True;User ID=NatSu_2018;Password=123@123a"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>